.container {
    background-color: #212529;
    padding: 1px;
    margin: 0;
    color: #e1dcdc;
    overflow-y: auto;
    max-height: 500px;
}

.track_table {
    border-collapse: collapse;
    width: 100%;
}

.track_table thead th {
    text-align: left;
    width: auto;
}


.title_td_con {
    display: flex;
    align-items: center;
}

.title_td_info {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.title_th_nam {
    font-weight: bold;
    color: white;
    margin-bottom: 0.2rem;
}

.submit_btn {
    background-color: white;
    border-radius: 50%;
    width: 14px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.icon_btn {
    cursor: pointer;
}
.icon_btn:hover {
    color: rgb(36, 97, 167);
    cursor: pointer;
}
.icon_btn:active {
    color: #212529;
}

.icon_btn_submit {
    color: aqua;
}
.icon_btn_submit:hover {
    cursor: pointer;
    color: rgb(36, 97, 167);
}
.icon_btn_sumbit:active {
    color: #212529;
}
