/*search bar position and display*/
.searchForm {
    width: 60%;
    margin-left: 0;
}

.container {
    display: flex;
}

.row_searchBar {
    width: 100%;
    min-width: 200px;
    border: 2px solid saddlebrown;
    border-radius: 18px;
}

/*buttons under the search bar to select artist, song etc. not in function yet*/
.btn_container {
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin: 1px auto;
  }
  

.btn_searchDef {
    padding: 0.8em, 0.9em;
    background-color: #212529;
    color: #e1dcdc;
    border-radius: 20px;
    font-size: 1rem;
   margin: 0 auto;
}

/*search bar options display in the dropdown list*/
.customOption {
    display: flex;
    align-items: center;
    justify-content:start;
}

.searchImage {
    margin-right: 5px;
    width: 2.5rem;
    height: 2rem;
}

.searchTxt {
    margin-right: 10px;
    font-size: 1rem;
}


