html, body {
  margin: 0px;
  padding: 0px;
  height: max-content;
  background-color: red;
  background-image: url('../pictures/BG.jpg');
  background-size: cover;
  background-repeat: unset;
  background-position: center center;
 


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


