/*html, body {
  margin: 0px;
  padding: 0px;
  height: max-content;
  background-color: red;
  background-image: url('../pictures/background_dark.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
 


}*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


