
.search-bar {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center contents horizontally */
    justify-content: center; /* Center contents vertically */
    height: 450px;
    width: 50%;
    margin: 0 auto;
}

.navForm {
    height: 70%;
    width: 60%;

}

.heading{
    color: indianred;
    text-align: center;
    font-size: 50px;
    margin-top: 0%;

}


.formText{
    color: ivory;
}

.Image {
    background-image: url('../pictures/nev-bar.jpg');
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 70%;
    margin: 0 auto;
}


.navImage {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.custom-option {
    display: flex;
    align-items: center;
}

.song-label {
    flex-grow: 1;
}