.row{
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .logo{
    width: 20%;
    border-radius: 100px;
  }
  
  .btn {
    background-color: #212529;
    color: #e8edea;
    margin-left: 0.5em;
    padding: 0.5em;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .btn:hover{
    color: #232;
  }


  .btn_userInfo {
    font-size: 0.8rem;
  }